<!-- <ng-container>
  <button data-modal-target="defaultModal" data-modal-toggle="defaultModal"
    class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="button">
    Toggle modal
  </button>


  <div id="defaultModal" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
          <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Terms of Service
          </h3>
          <button type="button"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
            data-modal-hide="defaultModal">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>

        <div class="p-6 space-y-6">
          <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
            With less than a month to go before the European Union enacts new consumer privacy laws for its citizens,
            companies around the world are updating their terms of service agreements to comply.
          </p>
          <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
            The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant
            to
            ensure a common set of data rights in the European Union. It requires organizations to notify users as soon
            as
            possible of high-risk data breaches that could personally affect them.
          </p>
        </div>

        <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button data-modal-hide="defaultModal" type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I
            accept</button>
          <button data-modal-hide="defaultModal" type="button"
            class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->


<div class="bg-[#7132f5] w-full h-[100px] fixed top-0 left-0 z-50">
  <div class="w-full h-full flex justify-between items-center px-10">
    <div class="flex gap-20">
      <div>
        <a routerLink="/" class="flex justify-center items-center">
          <img src="/assets/images/logo.svg" class="w-36" alt="kraken">
        </a>
      </div>
      <div>
        <ul class="flex gap-8">
          <li>
            <a href="###"
              class="text-gray-100 font-medium hover:after:w-full after:w-[0%] after:translate-x-[-50%] after:h-1 after:absolute after:-bottom-1.5 after:left-[50%] after:bg-white relative after:transition-all after:duration-75 after:ease-in-out">Khám
              phá</a>
          </li>
          <li>
            <a href="###"
              class="text-gray-100 font-medium hover:after:w-full after:w-[0%] after:translate-x-[-50%] after:h-1 after:absolute after:-bottom-1.5 after:left-[50%] after:bg-white relative after:transition-all after:duration-75 after:ease-in-out">Giá</a>
          </li>
          <li>
            <a href="###"
              class="text-gray-100 font-medium hover:after:w-full after:w-[0%] after:translate-x-[-50%] after:h-1 after:absolute after:-bottom-1.5 after:left-[50%] after:bg-white relative after:transition-all after:duration-75 after:ease-in-out">Tại
              sao nên chọn Kraken?</a>
          </li>
          <li>
            <a href="###"
              class="text-gray-100 font-medium hover:after:w-full after:w-[0%] after:translate-x-[-50%] after:h-1 after:absolute after:-bottom-1.5 after:left-[50%] after:bg-white relative after:transition-all after:duration-75 after:ease-in-out">Tìm
              hiểu</a>
          </li>
          <li>
            <a href="###"
              class="text-gray-100 font-medium hover:after:w-full after:w-[0%] after:translate-x-[-50%] after:h-1 after:absolute after:-bottom-1.5 after:left-[50%] after:bg-white relative after:transition-all after:duration-75 after:ease-in-out">Hỗ
              trợ</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex gap-5">
      <div
        class="hover:bg-[#8853f7] w-12 h-12 rounded-full flex justify-center items-center text-white font-medium cursor-pointer">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
          class="ms-ds-0 me-ds-0 mt-ds-0 mb-ds-0 stroke-ds-icon w-ds-icon-md h-ds-icon-md">
          <path
            d="M21 12C21 16.9706 16.9706 21 12 21M21 12C21 7.02944 16.9706 3 12 3M21 12H3M12 21C7.02944 21 3 16.9706 3 12M12 21C9.79086 21 8 16.9706 8 12C8 7.02944 9.79086 3 12 3M12 21C14.2091 21 16 16.9706 16 12C16 7.02944 14.2091 3 12 3M3 12C3 7.02944 7.02944 3 12 3"
            stroke-linecap="square" class="fill-transparent stroke-current stroke-2"></path>
        </svg>
      </div>
      <div>
        <a href="###"
          class="hover:bg-[#8853f7] rounded-full flex justify-center items-center text-white font-medium px-7 py-3 border-white border-[1px]">Đăng
          nhập</a>
      </div>
      <div>
        <a href="###"
          class="rounded-full flex justify-center items-center hover:bg-[#eee6fe] bg-white text-[#7132f5] font-medium px-7 py-3 border-current border-[1px]">Đăng
          ký</a>
      </div>
    </div>
  </div>

</div>