.animation {
  position: relative;
  animation: marquee 10s linear infinite;
}
.animation .fc-baacefea-3 {
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10vw);
  }
}
