<section>
  <div style="
      background-image: linear-gradient(
        140deg,
        rgb(255, 255, 255) 31%,
        rgb(240, 239, 255) 72%
      );
    " class="py-28">
    <h2 class="text-5xl text-center">
      Xây dựng danh mục đầu tư tiền điện tử của bạn
    </h2>
    <div class="flex flex-col items-start max-w-full mx-auto mt-20 overflow-hidden gap-y-5" style="
        width: 1329.01px;
        mask-image: linear-gradient(
          to right,
          transparent 0%,
          black 15%,
          black 85%,
          transparent 100%
        );
      ">

      <div class="flex overflow-hidden w-max gap-x-7 pl-7 animation">
        <div class="fc-baacefea-3">
          <div class="flex">
            <a class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_self" href="/vi-vn/prices/polkadot"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-dot_colored.svg" alt="dot" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5" />Polkadot</a>
          </div>
        </div>
        <div class="fc-baacefea-3">
          <div class="flex">
            <a class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_self" href="/vi-vn/prices/dogecoin" data-already-tracked="true"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-doge_colored.svg" alt="doge" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5" />Dogecoin</a>
          </div>
        </div>
        <div class="fc-baacefea-3">
          <div class="flex">
            <a class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/usd-coin"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-usdc_colored.svg" alt="usdc" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5" />USD Coin</a>
          </div>
        </div>
        <div class="fc-baacefea-3">
          <div class="flex">
            <a class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/uniswap"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-uni_colored.svg" alt="uni" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5" />Uniswap</a>
          </div>
        </div>
        <div class="fc-baacefea-3">
          <div class="flex">
            <a class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/bitcoin"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-btc_colored.svg" alt="btc" width="24px"
                height="24px" class="Crypton_circle__JhMJc Crypton_btc__uuLZp mr-2.5" />Bitcoin</a>
          </div>
        </div>
        <div class="fc-baacefea-3">
          <div class="flex">
            <a class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/ethereum"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-eth_colored.svg" alt="eth" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5" />Ethereum</a>
          </div>
        </div>
        <div class="fc-baacefea-3">
          <div class="flex">
            <a class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/cardano"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-ada_colored.svg" alt="ada" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5" />Cardano</a>
          </div>
        </div>
        <div class="fc-baacefea-3">
          <div class="flex">
            <a class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/tether"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-usdt_colored.svg" alt="usdt" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5" />Tether USD</a>
          </div>
        </div>
        <div class="fc-baacefea-3">
          <div class="flex">
            <a class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/xrp"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-xrp_colored.svg" alt="xrp" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5" />Ripple</a>
          </div>
        </div>
        <div class="fc-baacefea-3">
          <div class="flex">
            <a class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/solana"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-sol_colored.svg" alt="sol" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5" />Solana</a>
          </div>
        </div>
      </div>

      <div class="flex overflow-hidden w-max gap-x-7 pl-7 animation">
        <div class="fc-baacefea-7">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/filecoin"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-fil_colored.svg" alt="fil" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Filecoin</a></div>
        </div>
        <div class="fc-baacefea-7">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/tron"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-trx_colored.svg" alt="trx" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">TRON</a></div>
        </div>
        <div class="fc-baacefea-7">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/stellar"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-xlm_colored.svg" alt="xlm" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Lumen</a></div>
        </div>
        <div class="fc-baacefea-7">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/chainlink"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-link_colored.svg" alt="link" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Chainlink</a></div>
        </div>
        <div class="fc-baacefea-7">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/litecoin"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-ltc_colored.svg" alt="ltc" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Litecoin</a></div>
        </div>
        <div class="fc-baacefea-7">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/bitcoin-cash"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-bch_colored.svg" alt="bch" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Bitcoin Cash</a></div>
        </div>
        <div class="fc-baacefea-7">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/algorand"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-algo_colored.svg" alt="algo" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Algorand</a></div>
        </div>
        <div class="fc-baacefea-7">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/wrapped-bitcoin"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-wbtc_colored.svg" alt="wbtc" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Wrapped Bitcoin</a></div>
        </div>
        <div class="fc-baacefea-7">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/monero"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-xmr_colored.svg" alt="xmr" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Monero</a></div>
        </div>
        <div class="fc-baacefea-7">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/polygon"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-matic_colored.svg" alt="matic" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Polygon</a></div>
        </div>
      </div>

      <div class="flex overflow-hidden w-max gap-x-7 pl-7 animation">
        <div class="fc-baacefea-11">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/the-graph"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-grt_colored.svg" alt="grt" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">The Graph</a></div>
        </div>
        <div class="fc-baacefea-11">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/axie-infinity-shards"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-axs_colored.svg" alt="axs" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Axie Infinity Shards</a></div>
        </div>
        <div class="fc-baacefea-11">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/kusama"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-ksm_colored.svg" alt="ksm" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Kusama</a></div>
        </div>
        <div class="fc-baacefea-11">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/ethereum-classic"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-etc_colored.svg" alt="etc" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Ethereum Classic</a></div>
        </div>
        <div class="fc-baacefea-11">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/waves"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-waves_colored.svg" alt="waves" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Waves</a></div>
        </div>
        <div class="fc-baacefea-11">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/cosmos"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-atom_colored.svg" alt="atom" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Cosmos</a></div>
        </div>
        <div class="fc-baacefea-11">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/dai"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-dai_colored.svg" alt="dai" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Dai</a></div>
        </div>
        <div class="fc-baacefea-11">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/tezos"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-xtz_colored.svg" alt="xtz" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Tezos</a></div>
        </div>
        <div class="fc-baacefea-11">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/aave"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-aave_colored.svg" alt="aave" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Aave</a></div>
        </div>
        <div class="fc-baacefea-11">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/eos"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-eos_colored.svg" alt="eos" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">EOS</a></div>
        </div>
      </div>

      <div class="flex overflow-hidden w-max gap-x-7 pl-7 animation">
        <div class="fc-baacefea-15">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/synthetix-network-token"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-snx_colored.svg" alt="snx" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Synthetix</a></div>
        </div>
        <div class="fc-baacefea-15">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/decentraland"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-mana_colored.svg" alt="mana" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Decentraland</a></div>
        </div>
        <div class="fc-baacefea-15">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/icon"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-icx_colored.svg" alt="icx" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">BIỂU TƯỢNG</a></div>
        </div>
        <div class="fc-baacefea-15">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/enjin-coin"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-enj_colored.svg" alt="enj" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Enjin</a></div>
        </div>
        <div class="fc-baacefea-15">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/maker"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-mkr_colored.svg" alt="mkr" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">MakerDAO</a></div>
        </div>
        <div class="fc-baacefea-15">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/compound"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-comp_colored.svg" alt="comp" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Compound</a></div>
        </div>
        <div class="fc-baacefea-15">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/dash"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-dash_colored.svg" alt="dash" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Dash</a></div>
        </div>
        <div class="fc-baacefea-15">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/chiliz"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-chz_colored.svg" alt="chz" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Chiliz</a></div>
        </div>
        <div class="fc-baacefea-15">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/sushi"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-sushi_colored.svg" alt="sushi" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Sushi</a></div>
        </div>
        <div class="fc-baacefea-15">
          <div class="flex"><a
              class="bg-white rounded-full text-center with-asset-icon leading-4 py-2 px-3 grow flex items-center box-border min-h-10 text-base text-[#101114] font-medium"
              target="_blank" href="/vi-vn/prices/zcash"><img loading="lazy"
                src="https://assets.kraken.com/marketing/web/icons/sym-zec_colored.svg" alt="zec" width="24px"
                height="24px" class="Crypton_circle__JhMJc mr-2.5">Zcash</a></div>
        </div>
      </div>
    </div>

    <div class="mx-auto mt-20 text-center">
      <a href="###" class="bg-[#7132f5] hover:bg-[#5b1ecf] text-white px-6 py-3 rounded-full shadow-btn">
        Mua tiền điện tử
      </a>
    </div>

  </div>
</section>