<section>
  <div
    class="bg-[#eeecfb] w-full box-border px-[30px] min-[1040px]:px-[calc((100%-980px)/2)] flex gap-10 pt-10 pb-6 sm:pt-36 sm:pb-16 flex-col sm:flex-row">
    <div class="w-full mt-32 sm:w-1/2">
      <h2 class="text-4xl font-normal md:text-6xl">Đầu tư vào tương lai của bạn</h2>
      <p class="text-xl font-normal text-center md:text-3xl mt-7">Phát triển danh mục đầu tư của bạn trong một hệ thống
        tài chính
        công bằng và
        cởi mở.
      </p>

      <div class="flex justify-center mt-10 gap-7">
        <div class="flex items-center gap-3">
          <a href="{{ linkRegister}}"
            class="bg-[#7132f5] hover:bg-[#5b1ecf] text-white px-6 py-3 rounded-full shadow-btn">Đăng ký</a>
        </div>
        <div class="items-center hidden gap-3 md:flex">
          <img src="/assets/images/qrcode18.png" alt="" class="w-12 h-12">
          <span>Tải ứng dụng Kraken</span>
        </div>
      </div>
    </div>
    <div class="w-full sm:w-1/2">
      <div class="relative mb-2 ml-20">
        <video #videoRef autoplay muted loop playsinline class="w-[278px] h-[579px] mx-auto"
          poster="https://assets-cms.kraken.com/images/51n36hrp/facade/f5ad02e32edbfece7d68600801cb0e41a489ff6a-1028x2144.png">
          <source src="https://assets-cms.kraken.com/files/51n36hrp/facade/514d4a19b477dec279e57a3188b49aec83c92c17.mp4"
            type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="w-full box-border px-[30px] min-[1234px]:px-[calc((100%-1174px)/2)] py-28">
    <p class="text-xl text-center sm:text-3xl">Đẩy nhanh việc áp dụng tiền điện tử trên toàn cầu kể từ năm 2011
    </p>
    <div class="flex flex-col justify-between gap-10 md:flex-row mt-7">
      <div>
        <p class="text-4xl font-medium text-center sm:text-5xl">Trên 10 triệu</p>
        <p class="mt-3 text-lg text-center">Khách hàng</p>
      </div>
      <div>
        <p class="text-4xl font-medium text-center sm:text-5xl">190+ </p>
        <p class="mt-3 text-lg text-center">Các quốc gia được hỗ trợ
        </p>
      </div>
      <div>
        <p class="text-4xl font-medium text-center sm:text-5xl">Hơn 207 tỷ đô la
        </p>
        <p class="mt-3 text-lg text-center">Khối lượng giao dịch hàng quý
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="kraken-content-wrapper w-full box-border px-[30px] min-[1234px]:px-[calc((100%-1174px)/2)]">
    <div class="flex flex-col gap-10 md:gap-16 md:flex-row">
      <div class="w-full md:w-1/2">
        <img src="/assets/images/kraken-image.webp" alt="">
      </div>
      <div class="w-full md:w-1/2">
        <p class="text-lg text-gray-500">Nền tảng tiền điện tử
        </p>
        <p class="text-2xl md:text-4xl">Mua tiền điện tử trong vài phút
        </p>

        <div class="mt-5">
          <div class="flex items-center">
            <img src="/assets/images/1.webp" alt="" class="w-16 h-16">
            <span class="text-lg md:text-xl">
              Tạo tài khoản Kraken miễn phí
            </span>
          </div>
          <div class="flex items-center">
            <img src="/assets/images/2.webp" alt="" class="w-16 h-16">
            <span class="text-lg md:text-xl">
              Kết nối phương thức nạp của bạn
            </span>
          </div>
          <div class="flex items-center">
            <img src="/assets/images/3.webp" alt="" class="w-16 h-16">
            <span class="text-lg md:text-xl">
              Mua và bán hơn 200 loại tiền điện tử
            </span>
          </div>
        </div>

        <div class="mt-10 text-center">
          <a href="{{ link }}" class="bg-[#7132f5] hover:bg-[#5b1ecf] text-white px-6 py-3 rounded-full shadow-btn">
            Mua tiền điện tử
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-crypto-category></app-crypto-category>

<section>
  <div class="w-full box-border px-[30px] min-[1234px]:px-[calc((100%-1174px)/2)] py-28">
    <h2 class="text-3xl font-medium text-center md:text-5xl">
      Tại sao nên chọn Kraken?
    </h2>

    <div class="flex flex-col gap-14 md:flex-row">
      <div class="text-center">
        <img src="/assets/images/choose-1.webp" alt="" class="w-48 mx-auto">
        <p class="text-2xl font-medium md:text-3xl">
          Tính đơn giản
        </p>
        <p class="mt-3 text-base sm:text-lg">Kraken giúp bạn dễ dàng mua và giao dịch tiền điện tử từ máy
          tính để bàn
          hoặc
          thông qua
          <span class="text-[#7132f5]">ứng dụng di
            động</span> của
          chúng tôi.
        </p>
      </div>

      <div class="text-center">
        <img src="/assets/images/choose-2.webp" alt="" class="w-48 mx-auto">
        <p class="text-2xl font-medium md:text-3xl">
          Giáo dục
        </p>
        <p class="mt-3 text-base sm:text-lg">Bạn không chắc nên bắt đầu từ đâu? Hãy truy cập <span
            class="text-[#7132f5]">Trung tâm học tập</span> của chúng tôi và tìm hiểu tất cả mọi thông tin về tiền điện
          tử.
        </p>
      </div>

      <div class="text-center">
        <img src="/assets/images/choose-3.webp" alt="" class="w-48 mx-auto">
        <p class="text-2xl font-medium md:text-3xl">
          Tính đơn giản
        </p>
        <p class="mt-3 text-base sm:text-lg">Tìm câu trả lời ngay lập tức trong <span class="text-[#7132f5]">Trung tâm
            hỗ
            trợ</span> của chúng tôi. Hoặc liên hệ với chúng tôi 24/7/365 qua trò chuyện trực tiếp, điện thoại hoặc qua
          email.
        </p>
      </div>
    </div>

    <div class="mt-20 text-center">
      <a href="{{ link }}" class="bg-[#7132f5] hover:bg-[#5b1ecf] text-white px-6 py-3 rounded-full shadow-btn">
        Bắt đầu với Kraken
      </a>
    </div>
  </div>
</section>

<section>
  <div class="w-full bg-[#f6f5f9] py-20 md:py-28 box-border px-[30px] min-[1234px]:px-[calc((100%-1174px)/2)]">
    <h2 class="text-3xl font-medium text-center md:text-5xl">
      Kiếm phần thưởng bằng tiền điện tử của bạn
    </h2>
    <div class="flex flex-col items-center justify-center">
      <div class="max-w-[580px] my-5 text-base md:text-lg">
        <p>Phần thưởng có sẵn trên các tài sản được liệt kê dưới đây. Thu nhập được thanh toán hàng tuần bằng chính tài
          sản
          đã kiếm được chúng.*</p>
      </div>
    </div>

    <div class="flex flex-wrap justify-center gap-3 md:gap-6">
      <a class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-algo_colored.svg" alt="algo"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Algorand
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">ALGO</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            1-4% APR
          </div>
        </div>
      </a>
      <a class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-ada_colored.svg" alt="ada"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Cardano
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">ADA</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            3-6% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-tia_colored.svg" alt="tia"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Celestia
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">TIA</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            3-6% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-atom_colored.svg" alt="atom"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Cosmos
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">ATOM</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            6-10% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-dym_colored.svg" alt="dym"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Dymension
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">DYM</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            2-5% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-eth_colored.svg" alt="eth"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Ethereum
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">ETH</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            1-4% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-flow_colored.svg" alt="flow"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Flow
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">FLOW</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            2-5% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-kava_colored.svg" alt="kava"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Kava
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">KAVA</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            3-6% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-ksm_colored.svg" alt="ksm"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Kusama
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">KSM</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            9-13% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-mina_colored.svg" alt="mina"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Mina
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">MINA</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            7-10% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-dot_colored.svg" alt="dot"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Polkadot
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">DOT</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            7-11% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-matic_colored.svg" alt="matic"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Polygon
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">MATIC</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            1-3% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-scrt_colored.svg" alt="scrt"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Secret
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">SCRT</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            6-10% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-sei_colored.svg" alt="sei"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Sei
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">SEI</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            1-4% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-sol_colored.svg" alt="sol"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Solana
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">SOL</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            3-5% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-xtz_colored.svg" alt="xtz"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Tezos
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">XTZ</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            4-7% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-grt_colored.svg" alt="grt"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              The Graph
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">GRT</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            4-6% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-trx_colored.svg" alt="trx"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Tron
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">TRX</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            1-4% APR
          </div>
        </div>
      </a><a
        class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-btc_colored.svg" alt="btc"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Bitcoin
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">BTC^</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            0.1% APR
          </div>
        </div>
      </a>
      <a class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-eur_colored.svg" alt="eur"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Euro
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">EUR^</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            5% APR
          </div>
        </div>
      </a>
      <a class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-usdt_colored.svg" alt="usdt"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              Tether
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">USDT^</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            5% APR
          </div>
        </div>
      </a>
      <a class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-usd_colored.svg" alt="usdt"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              US Dollar

              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">USD^</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            5% APR
          </div>
        </div>
      </a>
      <a class="bg-white border-[1px] border-gray-200 border-solid p-5 rounded-2xl text-center w-full sm:w-[200px] flex justify-between sm:flex-col"
        href="###">
        <div class="flex gap-3 sm:flex-col">
          <img loading="lazy" src="https://assets.kraken.com/marketing/web/icons/sym-usdc_colored.svg" alt="usdc"
            width="48px" height="48px" class="mx-auto" />
          <div>
            <p
              class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">
              USDC
              <span
                class="text-[16px] leading-[22px] font-medium flex flex-col items-start sm:flex-row sm:justify-center sm:gap-2">USDC^</span>
            </p>
          </div>
        </div>
        <div class="sm:mt-3">
          <div
            class="box-border flex inline-flex flex-row items-center justify-center border border-solid border-[#149e613d]  bg-[#f6fbf9] text-[#08844f] px-2 py-1 text-xs font-medium">
            5% APR
          </div>
        </div>
      </a>
    </div>

    <div class="flex flex-col gap-8 mt-24 md:flex-row">
      <div class="w-full max-w-[240px] mx-auto">
        <img src="/assets/images/listcoin1.webp" alt="" class="w-16 h-16 mx-auto">
        <p class="text-xl font-medium text-center md:text-2xl">Hơn 18 tài sản đủ điều kiện nhận thưởng</p>
      </div>
      <div class="w-full max-w-[240px] mx-auto">
        <img src="/assets/images/listcoin2.webp" alt="" class="w-16 h-16 mx-auto">
        <p class="text-xl font-medium text-center md:text-2xl">Phần thưởng tự động tăng lên trong tài khoản của bạn
        </p>
      </div>
      <div class="w-full max-w-[240px] mx-auto">
        <img src="/assets/images/listcoin3.webp" alt="" class="w-16 h-16 mx-auto">
        <p class="text-xl font-medium text-center md:text-2xl">Hơn 800 triệu đô la tiền thưởng mà khách hàng kiếm được
        </p>
      </div>
    </div>

    <div class="mt-24 text-center">
      <a href="{{ link }}" class="bg-[#7132f5] hover:bg-[#5b1ecf] text-white px-6 py-3 rounded-full shadow-btn">
        Bắt đầu kiếm tiền ngay hôm nay
      </a>
    </div>

    <div class="mt-24">
      <p class="text-sm text-center text-gray-500">* Phần thưởng không dành cho khách hàng ở Hoa Kỳ và Vương quốc Anh.
        Có thể áp
        dụng các
        hạn chế về địa lý khác.
        Mức thưởng có thể thay đổi, đồng thời phải tuân thủ các điều khoản và điều kiện của Kraken. Tài khoản Kraken và
        tài sản staking không được bảo hiểm cho thua lỗ cũng như sẽ không được bảo vệ bởi Công ty Bảo hiểm Ký thác Liên
        bang Hoa Kỳ (FDIC) hay Tổng công ty bảo vệ đầu tư chứng khoán (SIPC). Để biết thêm thông tin, vui lòng xem
        <span class="font-medium">Điều khoản dịch vụ</span> của chúng tôi.
      </p>

      <p class="mt-3 text-sm text-center text-gray-500">⌃Tính khả dụng của tài sản cho Phần thưởng chọn tham gia có thể
        khác
        nhau do hạn chế về mặt địa lý. Vui lòng xem trang hỗ trợ <span class="font-medium">Tôi có thể sử dụng Kraken ở
          đâu?</span> của
        Kraken để biết thêm thông tin.
      </p>
    </div>

  </div>
</section>

<section>
  <div class="bg-[#191b27] w-full box-border px-[30px] min-[1234px]:px-[calc((100%-1174px)/2)] py-20 md:py-28"
    style="background-image: radial-gradient(circle at center top, rgb(49, 35, 76) 10%, rgb(49, 35, 76) 0%, transparent 50%, transparent 100%), linear-gradient(rgb(25, 27, 39), rgb(25, 27, 39));">
    <img src="/assets/images/pro.webp" alt="" class="w-20 mx-auto text-center">
    <div class="mt-3 text-3xl text-center text-white md:text-5xl">
      <h2>Giao dịch giao ngay và ký quỹ.
      </h2>
      <h2>Tất cả trong một giao diện mạnh mẽ.</h2>
    </div>
    <img src="/assets/images/trade.webp" alt="" class="hidden w-full mt-10 sm:block">

    <div class="flex flex-col gap-5 mt-10 md:flex-row">
      <div class="w-full text-center text-white md:w-1/3">
        <img src="/assets/images/trade1.webp" alt="" class="w-16 mx-auto">
        <p class="text-xl md:text-2xl">Độ lan truyền thấp
        </p>
        <p class="mt-3 text-base md:text-lg">Giảm chi phí trung bình
          <br>
          cho mỗi giao dịch của bạn.
        </p>
      </div>

      <div class="w-full text-center text-white md:w-1/3">
        <img src="/assets/images/trade2.webp" alt="" class="w-16 mx-auto">
        <p class="text-xl md:text-2xl">Thanh khoản sâu rộng trên các thị trường
        </p>
        <p class="mt-3 text-base md:text-lg">Dễ dàng giao dịch với khối lượng lớn
          <br>
          ở mức giá ổn định.
        </p>
      </div>

      <div class="w-full text-center text-white md:w-1/3">
        <img src="/assets/images/trade3.webp" alt="" class="w-16 mx-auto">
        <p class="text-xl md:text-2xl">Giới hạn tỷ giá cao

        </p>
        <p class="mt-3 text-base md:text-lg">Giao dịch tiền điện tử nhanh chóng với API mạnh mẽ,
          <br>
          độ trễ thấp của chúng tôi.
        </p>
      </div>
    </div>

    <div class="mt-24 text-center">
      <a href="{{ link }}" class="font-medium text-[#7132f5] hover:bg-[#e3e3e5] bg-white px-6 py-3 rounded-full">
        Giao dịch tiền điện tử
      </a>
    </div>

    <div class="flex flex-wrap items-stretch justify-center gap-7 mt-28">
      <div class="bg-[#2e3350] w-full max-w-[370px] rounded-lg p-[1px]">
        <div class="w-full h-full bg-[#202333] px-4 rounded-lg py-16">
          <p class="text-lg text-white max-w-[200px] text-center mx-auto">Đặt <span class="font-medium">lệnh nâng
              cao</span> mọi
            lúc mọi
            nơi.</p>

          <div class="mt-10 text-center"> <a href="{{ link }}"
              class="font-medium text-white hover:bg-[#555864] bg-[#444654] px-6 py-3 rounded-full">
              Tải ứng dụng
            </a></div>
        </div>
      </div>

      <div class="bg-[#2e3350] w-full max-w-[370px] rounded-lg p-[1px]">
        <div class="w-full h-full bg-[#202333] px-4 rounded-lg py-16">
          <p class="text-lg text-white max-w-[200px] text-center mx-auto">
            <span class="font-medium">Giao dịch ký quỹ </span> với đòn bẩy lên tới 5 lần.*
          </p>

          <div class="mt-10 text-center"> <a href="{{ link }}"
              class="font-medium text-white hover:bg-[#555864] bg-[#444654] px-6 py-3 rounded-full">
              Tìm hiểu thêm
            </a></div>
        </div>
      </div>

      <div class="bg-[#2e3350] w-full max-w-[370px] rounded-lg p-[1px]">
        <div class="w-full h-full bg-[#202333] px-4 rounded-lg py-16">
          <p class="text-lg text-white max-w-[260px] text-center mx-auto">Giao dịch hơn 100 Hợp đồng <span
              class="font-medium">tương lai</span> nhiều tài sản thế chấp.</p>

          <div class="mt-10 text-center"> <a href="{{ link }}"
              class="font-medium text-white hover:bg-[#555864] bg-[#444654] px-6 py-3 rounded-full">
              Giao dich hợp đồng tương lai
            </a></div>
        </div>
      </div>
    </div>

  </div>
</section>

<section>
  <div class="bg-[#f6f5f9] pt-28 pb-10 w-full box-border px-[30px] min-[1392px]:px-[calc((100%-1332px)/2)]">
    <div class="flex flex-col items-center gap-3 lg:flex-row">
      <div class="w-full lg:w-2/3">
        <h2 class="text-[#7132f5] text-3xl md:text-6xl font-normal text-center lg:text-left">
          Bắt đầu hành trình tiền điện tử của bạn
        </h2>
        <p class="mt-5 text-lg text-center md:text-2xl">Đăng ký để mua và bán hơn 200 loại tiền điện tử.
        </p>
        <div class="mt-10 text-center">
          <a href="{{ link }}" class="bg-[#7132f5] hover:bg-[#5b1ecf] text-white px-6 py-3 rounded-full shadow-btn">
            Bắt đầu với Kraken
          </a>
        </div>
      </div>
      <div class="w-full lg:w-1/3">
        <img src="/assets/images/btc.webp" alt="" class="w-full max-w-md mx-auto lg:max-w-full">
      </div>
    </div>

    <div class="w-full box-border px-0 lg:px-[30px] min-[1234px]:px-[calc((100%-1174px)/2)]">
      <div class="bg-[#fbfafc] border-[1px] border-white border-solid p-8 lg:p-10 rounded-2xl">
        <p class="text-xs text-gray-500"><span class="text-[#7132f5] font-medium">Ký quỹ</span>, <span
            class="text-[#7132f5] font-medium">hợp đồng tương lai </span>và
          <span class="text-[#7132f5] font-medium"> phần thưởng chọn
            tham gia</span> phải
          tuân theo các giới hạn địa lý và tiêu chí đủ điều
          kiện nhất định.
        </p>

        <p class="mt-3 text-xs text-gray-500">Mức thưởng có thể thay đổi, đồng thời phải tuân thủ các điều khoản và điều
          kiện
          của Kraken. Các tài liệu này chỉ dành cho mục đích cung cấp thông tin chung và không phải là lời khuyên về đầu
          tư, khuyến nghị hay lời mời chào mua, bán, staking hoặc nắm giữ bất kỳ tài sản tiền điện tử nào hoặc tham gia
          vào bất kỳ chiến lược giao dịch cụ thể nào. Một số sản phẩm và thị trường tiền điện tử sẽ không được kiểm soát
          và bạn có thể không được bảo vệ bởi các chương trình bồi thường của chính phủ và/hoặc chương trình bảo vệ theo
          quy định. Bản chất không thể đoán trước của thị trường tiền điện tử có thể khiến bạn bị mất tiền. Bạn có thể
          phải trả thuế trên bất kỳ khoản hoàn trả nào và/hoặc đối với bất kỳ sự gia tăng nào về giá trị của tài sản
          tiền
          điện tử của mình và bạn nên tìm kiếm lời khuyên độc lập về tình hình thuế của mình. Để biết thêm thông tin,
          vui
          lòng xem Điều khoản dịch vụ của chúng tôi.

        </p>

        <p class="mt-3 text-xs text-gray-500">Giao dịch hợp đồng tương lai, các công cụ phái sinh và các công cụ khác sử
          dụng
          đòn bẩy liên quan đến một yếu
          tố rủi ro và có thể không phù hợp với tất cả mọi người. Hãy đọc <span class="text-[#7132f5] font-medium">nội
            dung công bố về rủi ro của Kraken</span> để tìm hiểu thêm.</p>
      </div>
    </div>
  </div>
</section>